.legroom-s {
  display: inline-block;
  position:relative;
  width: 16%;
}
.legroom-s span {
  display: block;
  padding-bottom: 1px;
  padding-right: 0.5em;
  padding-top: 2px;
}
.legroom-s span.green {
  color: #093;
  font-weight: bold;
}
.legroom-s span.yellow {
  color: #db4437;
}
.OMOBOQD-d-bc .legroom-s {
  border-color: #ccc;
}

/* Notice. */
a.legroom-notice {
  bottom: 6px;
  color: #888;
  font-size: 11px;
  position: absolute;
  right: 10px;
  text-decoration: none;
}
a.legroom-notice:hover {
  text-decoration: underline;
}

/* Layout table. */
table.OMOBOQD-f-i {
  width: 940px;
}

/* Middle column. */
div.OMOBOQD-f-e {
  width: 750px;
}

/* Columns. */
.OMOBOQD-d-Lb>.OMOBOQD-d-X>div.OMOBOQD-d-Bb {
  width: 15.2%;
}
.OMOBOQD-d-Lb>.OMOBOQD-d-X>div.OMOBOQD-d-ac {
  width: 36.2%;
}
.OMOBOQD-d-Lb>.OMOBOQD-d-X>div.OMOBOQD-d-Jb {
  width: 15.5%;
}
.OMOBOQD-d-Lb>.OMOBOQD-d-X>div.OMOBOQD-d-Sb {
  width: 17.1%;
}
