.legroom-row-extend {
  background-color: transparent;
  color: rgba(0, 0, 0, .54);
  display: flex;
  flex: 0 0;
  font-size: 12px;
  min-width: 227px;
  padding: 0px 0px 0px 16px;
  position: relative;
}

/* Increase center column width overall. */
/*
.gws-flights-results__results-container.gws-flights__center-content,
.gws-flights__center-content.gws-flights-results__selections-list {*/
.hJYf4 {
  max-width: 1178px;
  width: 1178px;
}
/* To make heading position acceptable. */
/*.gws-flights-results__best-flights .gws-flights-results__heading-disclaimer {*/
.tEXind {
  justify-content: flex-end;
}

.legroom-row-extend .seat {
  flex: 1 1;
  width: 120px;
}
.legroom-row-extend .seat .leg {
  overflow: hidden;
  text-overflow: ellipsis;
}

.legroom-row-extend .leg {
  padding: 0px 8px 2px;
  white-space: nowrap;
}

.legroom-row-extend .seat .leg {
  background-size: 16px;
  background-position: left 7px;
  background-repeat: no-repeat;
  padding: 8px 14px 1px 18px;
}

.legroom-row-extend .wifi,
.legroom-row-extend .power,
.legroom-row-extend .video {
  width: 24px;
}
.legroom-row-extend .wifi .leg,
.legroom-row-extend .video .leg,
.legroom-row-extend .power .leg {
  background-size: 16px;
  background-position: 0px;
  background-repeat: no-repeat;
  height: 18px;
  opacity: 0.54;
}
.legroom-row-extend .wifi .leg {
  background-image: url("wifi_black_24dp.svg");
}
.legroom-row-extend .power .leg.plug {
  background-image: url("power_black_24dp.svg");
}
.legroom-row-extend .power .leg.usb {
  background-image: url("usb_black_24dp.svg");
}
.legroom-row-extend .video .leg.ondemand {
  background-image: url("ondemand_video_black_24dp.svg");
}
.legroom-row-extend .video .leg.stream {
  background-image: url("tap_and_play_black_24dp.svg");
}
.legroom-row-extend .wifi .leg.none,
.legroom-row-extend .video .leg.none,
.legroom-row-extend .power .leg.none {
  background-image: none;
}
.legroom-row-extend .aircraft {
  width: 128px;
}
.legroom-row-extend .aircraft .leg {
  overflow: hidden;
  text-overflow: ellipsis;
}
.legroom-row-extend .legroomLength .leg.above {
  color: forestgreen;
  font-weight: bold;
}
.legroom-row-extend .legroomLength .leg.below {
  color: red;
  font-weight: bold;
}
.legroom-row-extend .legroomLength .leg.icon {
  background-size: 18px;
  background-position: 8px 0px;
  background-repeat: no-repeat;
  height: 18px;
  width: 24px;
  opacity: 0.54;
}
.legroom-row-extend .legroomLength .leg.icon.reclining {
  background-image: url("airline_seat_recline_normal_black_24dp.svg");
}
.legroom-row-extend .legroomLength .leg.icon.extra-reclining {
  background-image: url("airline_seat_recline_extra_black_24dp.svg");
}
.legroom-row-extend .legroomLength .leg.icon.lie-flat {
  background-image: url("airline_seat_flat_black_24dp.svg");
}
.legroom-row-extend .legroomLength .leg.icon.suite {
  background-image: url("airline_seat_individual_suite_black_24dp.svg");
}
.legroom-row-extend .legroomLength .leg.icon.angled-flat {
  background-image: url("airline_seat_flat_angled_black_24dp.svg");
}
.legroom-header {
  background: transparent;
  color: rgba(0, 0, 0, .54);
  font-size: 11px;
  margin-left: 0px;
  padding: 16px 8px;
  text-align: right;
  width: 238px;
}

