.legroom-s {
  display: inline-block;
  position:relative;
  width: 16%;
}
.legroom-s span {
  display: block;
  padding-bottom: 1px;
  padding-right: 0.5em;
  padding-top: 2px;
}
.legroom-s span.green {
  color: #093;
  font-weight: bold;
}
.legroom-s span.yellow {
  color: #db4437;
}

/* Notice. */
a.legroom-notice {
  bottom: 6px;
  color: #888;
  font-size: 11px;
  position: absolute;
  right: 10px;
  text-decoration: none;
}
a.legroom-notice:hover {
  text-decoration: underline;
}

