.legroom-row-extend {
  background-color: #eee;
  color: rgba(0, 0, 0, .54);
  display: flex;
  flex: 0 0;
  font-size: 13px;
  min-width: 213px;
  padding: 10px 8px;
  position: relative;
}

.gws-flights-results__results-container.gws-flights__center-content {
  /*max-width: 1124px;
  width: 1124px;
  */
}

.legroom-row-extend .seat {
  flex: 1 1;
  width: 120px;
}
.legroom-row-extend .seat .leg {
  overflow: hidden;
  text-overflow: ellipsis;
}

.legroom-row-extend .leg {
  padding: 8px 8px 2px;
  white-space: nowrap;
}

.legroom-row-extend .seat .leg {
  background-size: 16px;
  background-position: left 7px;
  background-repeat: no-repeat;
  padding: 8px 14px 1px 18px;
}

.legroom-row-extend .wifi, 
.legroom-row-extend .power {
  width: 24px;
}
.legroom-row-extend .wifi .leg, 
.legroom-row-extend .power .leg {
  background-size: 16px;
  background-position: left 7px;
  background-repeat: no-repeat;
  height: 12px;
}
.legroom-row-extend .aircraft {
  width: 48px;
}
.legroom-row-extend .aircraft .leg {
  overflow: hidden;
  text-overflow: ellipsis;
}

.legroom-header {
  background: transparent;
  color: rgba(0, 0, 0, .54);
  font-size: 11px;
  margin-left: -137px;
  padding: 16px 8px;
  text-align: right;
  width: 214px;
}

