body {
  color: #333;
  font-family: sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  width: 18em
}
body.active .inactive {
  display: none;
}
body:not(.active) .active {
  display: none;
}
p {
  margin: 0;
  padding: 0;
}
h1 {
  background-color: limegreen;
  color: #eaffea;
  font-size: 13px;
  font-weight: bold;
  line-height: 150%;
  margin: 0;
  padding: 0.5em 10px;
  text-shadow: 1px 1px 1px forestgreen;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.fl {
  color: blue;
  display: block;
  margin: 0.8em 10px;
}
.info {
  font-size: 12px;
  padding: 0.8em 10px 0.5em;
}
.info ul {
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  line-height: 145%;
}
footer {
  background-color: gold;
  margin: 2em 0 0;
  padding: 1em 10px;
}
footer a {
  color: black;
}
footer p {
  margin-top: 1em;
}

