body {
  background: #e8f5e9
  box-sizing: content-box;
  color: hsla(0,0%,0%,0.7);
  font-family: sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  width: 20em
}
body:not(.active) {
  background-color: #e3e3e3;
}
p {
  margin: 0;
  padding: 0;
}
h1 {
  background-color: #43a047;
  color: hsla(0,0%,100%,1.0);
  font-size: 15px;
  font-weight: bold;
  line-height: 300%;
  margin: 0;
  padding: 0 10px;
}
body:not(.active) h1 {
  background-color: #b0b0b0;
  color: #eee;
  text-shadow: 0px 0px 0.5px rgba(120,120,120,0.5);
}
div.inactive {
  margin: 1em 10px 2em;
}
a {
  color: #1e90ff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
footer {
  background-color: #bdbdbd;
  color: hsla(0,0%,0%,0.75);
  font-size: 12px;
  margin: 0;
  padding: 0.75em 10px 0.5em;
  text-align: center;
}
footer a {
  color: hsla(0,0%,0%,0.75);
}
body:not(.active) footer {
  background-color: #c0c0c0;
  color: #888;
}
footer p {
  line-height: 200%;
}
footer .copyright {
  font-size: 11px;
}
body:not(.active) footer a {
  display: none;
}
body:not(.active) footer p {
  margin-top: 0;
}

